@page "/AdminPage"
@inject Microsoft.AspNetCore.Components.NavigationManager NavPara
@using BadmintonPlayerRankingLibrary.Data
@using BadmintonPlayerRankingLibrary.Models


<h3>Create New Player</h3>

<!-- Form Section -->
<EditForm Model="@newPlayer" OnValidSubmit="@CreatePlayer">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="col-md-4">
            <label for="firstName">First Name</label>
            <InputText @bind-Value="newPlayer.FirstName" class="form-control" />
            <ValidationMessage For="@(() => newPlayer.FirstName)" />
        </div>
        <div class="col-md-4">
            <label for="lastName">Last Name</label>
            <InputText @bind-Value="newPlayer.LastName" class="form-control" />
            <ValidationMessage For="@(() => newPlayer.LastName)" />
        </div>
        <div class="col-md-4">
            <label for="club">Club</label>
            <InputText @bind-Value="newPlayer.Club" class="form-control" />
            <ValidationMessage For="@(() => newPlayer.Club)" />
        </div>
        <div class="col-md-4">
            <label for="gender">Gender</label>
            <InputText @bind-Value="newPlayer.Gender" class="form-control" />
            <ValidationMessage For="@(() => newPlayer.Gender)" />
        </div>
        <div class="col-md-4">
            <label for="ageGroup">Age Group</label>
            <InputText @bind-Value="newPlayer.AgeGroup" class="form-control" />
            <ValidationMessage For="@(() => newPlayer.AgeGroup)" />
        </div>
        <div class="col-md-4">
            <label for="yearOfBirth">Year Of Birth</label>
            <InputText @bind-Value="newPlayer.YearOfBirth" class="form-control" />
            <ValidationMessage For="@(() => newPlayer.YearOfBirth)" />
        </div>
        <div class="col-md-4">
            <label></label>
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>
</EditForm>

<br />
<br />

<!-- Table Section -->
@if (playersList != null && playersList.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Club</th>
                <th>Gender</th>
                <th>Age Group</th>
                <th>Year Of Birth</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in playersList)
            {
                <tr>
                    <td>@player.Id</td>
                    <td>@player.FirstName</td>
                    <td>@player.LastName</td>
                    <td>@player.Club</td>
                    <td>@player.Gender</td>
                    <td>@player.AgeGroup</td>
                    <td>@player.YearOfBirth</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditPlayer(player)">Edit</button>
                        <button class="btn btn-danger" @onclick="() => ShowConfirmationModal(player)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Confirmation Modal -->
    @if (showConfirmationModal)
    {
        <div>
            <p>Are you sure you want to perform the selected action?</p>
            <button class="btn btn-success" @onclick="ConfirmAction">Yes</button>
            <button class="btn btn-danger" @onclick="CancelAction">No</button>
        </div>
    }
}
else
{
    <p>No players available.</p>
}